<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
                xmlns:app="http://schemas.android.com/apk/res-auto"
                xmlns:tools="http://schemas.android.com/tools"
                android:layout_width="match_parent"
                android:layout_height="match_parent">
    <EditText
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:inputType="number"
            android:ems="10"
            android:layout_alignParentTop="true" android:layout_marginTop="80dp"
            android:id="@+id/editTextPasswordLength" android:hint="Pasword length"
            android:layout_alignParentStart="true"
            android:layout_marginEnd="130dp"
            android:layout_marginStart="30dp"/>
    <Button
            android:text="Generate"
            android:enabled="false"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" android:layout_alignParentEnd="true" android:layout_marginEnd="30dp"
            android:id="@+id/buttonGenerate" android:layout_alignTop="@+id/editTextPasswordLength"
    />
<!--    <EditText
            android:layout_height="wrap_content"
            android:enabled="false"
            android:inputType="textMultiLine|textPassword|textVisiblePassword"
            android:ems="10"
            android:layout_alignParentTop="true" android:layout_marginTop="152dp"
            android:id="@+id/editTextGeneratedPassword"
            android:editable="false"
            android:layout_width="wrap_content"
            android:layout_alignTop="@id/editTextPasswordLength"
            android:layout_alignStart="@+id/editTextPasswordLength"
            android:layout_alignEnd="@id/buttonGenerate"
    />-->

    <android.support.design.widget.TextInputLayout
            android:id="@+id/etPasswordLayout"
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:layout_alignTop="@id/editTextPasswordLength"
            android:layout_alignStart="@+id/editTextPasswordLength"
            android:layout_alignEnd="@id/buttonGenerate"
            android:layout_marginTop="60dp"
            app:passwordToggleEnabled="true">
<!--            android:layout_marginBottom="@dimen/login_spacing_bottom">-->

        <android.support.design.widget.TextInputEditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:inputType="textPassword|none"
                android:id="@+id/editTextGeneratedPassword"
                android:focusable="false"
                android:enabled="true"
        />
        <!--                android:hint="@string/fragment_login_password_hint"-->
    </android.support.design.widget.TextInputLayout>
</RelativeLayout>